<!DOCTYPE html>
<html>
	<head>
		  <title>Locate</title>
		  {% block js %}
		  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
		  <script type="text/javascript" src="/static/js/jquery-collision.min.js"></script>
		  <script type="text/javascript" src="/static/js/bootstrap3.3.7.min.js"></script>
		  <script src="/static/js/leaflet-src.js"></script>
		  <script src="/static/js/esri-leaflet@2.0.7.js"></script>
		  <script src="/static/js/esri-leaflet-geocoder@2.2.3.js"></script>
		  <script src="/static/js/leaflet_marker.js"></script>
		  <script src="/static/js/select2.js"></script>
		  {% endblock %}

		  {% block css %}
		  <link rel="stylesheet" href="/static/css/ionicons.min.css">
		  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap3.3.7.min.css">
		  <link rel="stylesheet" href="/static/css/esri-leaflet-geocoder.css">
		  <link rel="stylesheet" href="/static/css/leaflet.css" />
		  <link rel="stylesheet" href="/static/css/leaflet_marker.css">
		  <link rel="stylesheet" href="/static/css/select2.css">
		  {% endblock %}
	</head>
	<body>
		<div class="col-lg-12 col-sm-12 col-md-12" style="height:40px;">
				<div class="col-md-3 col-lg-3 col-sm-3 form-group"><select id="places" onchange="load_markers(this.value)" class="form-control"></select></div>
				<div class="col-md-3 col-lg-3 col-sm-3 form-group"><input type="text" class="form-control" id="latitude" placeholder='Enter Latitude' /></div>
				<div class="col-md-3 col-lg-3 col-sm-3 form-group"><input type="text" class="form-control" id="longitude" placeholder='Enter Longitude' /></div>
				<div class="col-md-3 col-lg-3 col-sm-3 form-group"><input type="button" class="btn btn-primary" onclick="locate_on_map()" value="Locate"/></div>		
		</div>
	  	<div id="map" style="height:800px; width:100%;"></div>
	</body>
	<script src="/static/js/location.js"></script>
	<script type="text/javascript">
	$("#places").select2({});
	load_places();
	</script>
</html>  